[
{% for mergeRequest in body %}
  {
    "id": {{ mergeRequest.iid }},
    "title": "{{ mergeRequest.title }}",
    "status": "{{ mergeRequest.labels[0] }}"
  }{{ "," if not loop.last }}
{% endfor %}
]
